In [41]:
import pandas as pd

all_stock_df = pd.read_csv(
    'D:/Documents/College docs/Sem III/Mini project/data/NIFTY50_all.csv')

stock_metadata_df = pd.read_csv(
    'D:/Documents/College docs/Sem III/Mini project/data/stock_metadata.csv')


# DATA Cleaning


## Removing redundant columns from the dataset

In [42]:

all_stock_df = all_stock_df.drop(columns=[
                                 "Series", "Volume", "Turnover", "Trades", "Deliverable Volume", "%Deliverble"])
all_stock_df

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP
0,2007-11-27,MUNDRAPORT,440.00,770.00,1050.00,770.00,959.00,962.90,984.72
1,2007-11-28,MUNDRAPORT,962.90,984.00,990.00,874.00,885.00,893.90,941.38
2,2007-11-29,MUNDRAPORT,893.90,909.00,914.75,841.00,887.00,884.20,888.09
3,2007-11-30,MUNDRAPORT,884.20,890.00,958.00,890.00,929.00,921.55,929.17
4,2007-12-03,MUNDRAPORT,921.55,939.75,995.00,922.00,980.00,969.30,965.65
...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,188.00,190.60,191.10,185.10,186.70,186.40,187.35
235188,2021-04-27,ZEEL,186.40,188.00,192.95,186.80,188.80,188.15,189.41
235189,2021-04-28,ZEEL,188.15,188.80,190.60,187.10,188.95,189.10,188.85
235190,2021-04-29,ZEEL,189.10,190.80,191.65,186.00,186.60,186.55,187.44
235191,2021-04-30,ZEEL,186.55,185.30,190.95,183.65,185.00,185.60,187.53

## Adding **"Industry"** column to the stock dataset

In [43]:

for stock in stock_metadata_df.iterrows():
    all_stock_df.loc[all_stock_df["Symbol"] ==
                     stock[1].Symbol, "Industry"] = stock[1].Industry

## Saving dataset into a modified **.csv** file

In [44]:

all_stock_df.to_csv(
    "D:/Documents/College docs/Sem III/Mini project/data/NIFTY50_all_modified.csv", index=False)